<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <div class="mb-5">
            <h1 class="mb-0">Współczesne języki
                <span class="text-primary">programowania</span>
            </h1>
            <div class="subheading mb-5">JavaScript</div>
            <div class="d-flex mb-3">
                <p class="lead flex-3">
                  JavaScript jest obecnie najbardziej popularnym językiem programowania. Mimo wielu wad język ten ma “monopol” na programowanie zdarzeń w przeglądarce, dzięki czemu jest potrzebny w każdej współczesnej aplikacji webowej. Doświadczeni programiści tej technologii mogą przebierać w ofertach pracy. 
                </p>
                <div class="flex-1 text-center"><%= image_tag("/images/js.png", :alt => "logo", :class => "img-fluid logo") %></div>
            </div>
            <p class="lead mb-3">
              Aby używać JavaScriptu trzeba najpierw poznać HTML’a i CSS’a, a także trochę teorii z zakresu działania przeglądarki. Istnieje bardzo wiele darmowych kursów z zakresu Frontendu, które “stopniowo” wprowadzają w świat tworzenia aplikacji. 
            </p>
            <p class="lead mb-3">
              Technologie Frontendowe są bardzo dobrym wyborem dla osób o zainteresowaniach artystycznych i ścisłych, które lubią pracować z układem treści na stronie internetowej. JS jest też najlepszym wyborem dla osób które są zainteresowane “wszystkim po trochu”, nie chcą wybierać między frontendem, a backendem.
            </p>


            <fieldset class="border border-primary rounded p-3 mb-3">
                <legend class="text-primary px-1 mb-0">Z moich obserwacji wynika, że:</legend>
                <p class="lead mb-0">
                  Wiele firm rekrutuje Junior Frontend Developerów bez doświadczenia komercyjnego. Jest to jednak bardzo popularny kierunek nauki i przed aplikacją na stanowiska juniorskie musimy dużo nauczyć się samodzielnie, żeby pokonać sporą konkurencję. W tej chwili znajomość jednego frameworka (najczęściej Angular lub React) często jest wymagana nawet dla osób dopiero zaczynających karierę.
                </p>
            </fieldset>
        </div>
        <div class="mb-5">
            <h3>Cechy:</h3>
            <ul class="icon-list">
              <li class="lead"><%= render "shared/gear-icon" %>wysoko poziomowy</li>
              <li class="lead"><%= render "shared/gear-icon" %>typowany dynamicznie (ale TypeScript umożliwia typowanie statyczne)</li>
              <li class="lead"><%= render "shared/gear-icon" %>automatyczne zarządzanie pamięcią</li>
              <li class="lead"><%= render "shared/gear-icon" %>wykorzystuje paradygmaty strukturalne, obiektowe i funkcyjne</li>
              <li class="lead"><%= render "shared/gear-icon" %>szerokie zastosowanie:</li>
              <ul>
                <li class="lead">Dynamiczne generowanie zawartości po stronie przeglądarki</li>
                <li class="lead">Rozwiązania serwerowe (backend) – Node.js</li>
                <li class="lead">Bazy danych NoSQL – JSON (format danych)</li>
              </ul>
              <li class="lead"><%= render "shared/gear-icon" %>jedyny język obsługujący zdarzenia w przeglądarce</li>
              <li class="lead"><%= render "shared/gear-icon" %>ogromna ilość narzędzi, bibliotek, frameworków, bardzo dynamiczny rozwój</li>
              <li class="lead"><%= render "shared/gear-icon" %>największa społeczność</li>
              <li class="lead"><%= render "shared/gear-icon" %>obecnie najbardziej popularny język programowania</li>
              <li class="lead"><%= render "shared/gear-icon" %>aby pisać w JS warto najpierw poznać HTML i CSS</li>
            </ul>
        </div>
        <div class="row">
            <div class="col">
                 <h3>Zalety:</h3>
                <ul class="icon-list">
                  <li class="lead"><%= render "shared/tick-icon" %>interpretowany w przeglądarce (nie potrzeba specjalistycznego środowiska)</li>
                  <li class="lead"><%= render "shared/tick-icon" %>ogromna popularność</li>
                  <li class="lead"><%= render "shared/tick-icon" %>uniwersalność (backend + frontend)</li>
                  <li class="lead"><%= render "shared/tick-icon" %>bardzo wiele bibliotek, paczek, frameworków z wielu dziedzin programowania</li>
                  <li class="lead"><%= render "shared/tick-icon" %>niski próg wejścia</li>
                  <li class="lead"><%= render "shared/tick-icon" %>wydajność</li>
                  <li class="lead"><%= render "shared/tick-icon" %>ogromna społeczność</li>
                </ul>
            </div>
            <div class="col">
                <h3>Wady:</h3>
                <ul class="icon-list">
                  <li class="lead"><%= render "shared/cross-icon" %>ilość bibliotek i frameworków  na początku może  być przytłaczająca</li>
                  <li class="lead"><%= render "shared/cross-icon" %>bardzo dynamiczny, a nie zawsze przemyślany rozwój</li>
                  <li class="lead"><%= render "shared/cross-icon" %>składnia</li>
                </ul>
            </div>
        </div>
    </div>
</section>