<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <div class="mb-5">
            <h1 class="mb-0">Współczesne języki
                <span class="text-primary">programowania</span>
            </h1>
            <div class="subheading mb-5">Python</div>
            <div class="d-flex mb-3 flex-column-reverse flex-sm-row">
                <p class="lead flex-3">
                    Python jest użytecznym językiem dla początkujących programistów ze względu na jego prostą składnię, typowanie dynamiczne i wysoko poziomowość. Jest to język akademicki, często wykorzystywany w nauczaniu uniwersyteckim jako język wprowadzający w świat programowania, aczkolwiek jest to trend bardziej popularny za granicą niż w Polsce. 
                </p>
                <div class="flex-1 text-left text-sm-center pb-2"><%= image_tag("/images/python.png", :alt => "logo", :class => "img-fluid logo pl-2") %></div>
            </div>
            <p class="lead mb-3">
                Python ma bardzo szerokie zastosowania, co sprawia że jest świetnym wyborem dla osób, które nie są pewne tego, która dziedzina programowania interesuje ich najbardziej. Jest wykorzystywany do web developmentu, machine learningu, statystyki czy programowania systemowego. Jest to technologia bardzo uniwersalna, założeniem twórców było stworzenie lekkiego języka z możliwością dołączania do niego wielu pakietów i bibliotek. 
            </p>
            <fieldset class="border border-primary rounded p-3 mb-3">
                <legend class="text-primary px-1 mb-0">Z moich obserwacji wynika, że:</legend>
                <p class="lead mb-0">
                    Python jest obecnie najszybciej rozwijającym się językiem programowania na świecie. Niestety w tym momencie (rok 2020) w Polsce nie jest łatwo znaleźć pracę jako początkujący python developer. Myślę, że ten trend będzie się zmieniał na korzyść popularności pythona i pojawi się więcej ofert o takim profilu.
                </p>
            </fieldset>
        </div>
        <div class="mb-5">
            <h3>Cechy:</h3>
            <ul class="icon-list">
                <li class="lead"><%= render "shared/gear-icon" %>interpretowany</li>
                <li class="lead"><%= render "shared/gear-icon" %>wysoko poziomowy</li>
                <li class="lead"><%= render "shared/gear-icon" %>typowany dynamicznie</li>
                <li class="lead"><%= render "shared/gear-icon" %>pamięć zarządzana automatycznie (garbage collector)</li>
                <li class="lead"><%= render "shared/gear-icon" %>obiektowy</li>
                <li class="lead"><%= render "shared/gear-icon" %>szerokie zastosowanie</li>
                <ul>
                    <li class="lead">aplikacje webowe</li>
                    <li class="lead">analiza danych/machine learning</li>
                    <li class="lead">internet rzeczy</li>
                    <li class="lead">statystyka</li>
                    <li class="lead">programowanie systemowe</li>
                    <li class="lead">zastosowanie akademickie</li>
                </ul>
                <li class="lead"><%= render "shared/gear-icon" %>aktywna i zróżnicowana społeczność</li>
                <li class="lead"><%= render "shared/gear-icon" %>obecnie najszybciej rozwijający się język programowania na świecie</li>
            </ul>
        </div>
        <div class="row">
            <div class="col">
                <h3>Zalety:</h3>
                <ul class="icon-list">
                    <li class="lead"><%= render "shared/tick-icon" %>mnogość zastosowań</li>
                    <li class="lead"><%= render "shared/tick-icon" %>bardzo wiele bibliotek, paczek, frameworków z wielu dziedzin programowania</li>
                    <li class="lead"><%= render "shared/tick-icon" %>duża i aktywna społeczność</li>
                    <li class="lead"><%= render "shared/tick-icon" %>inspirowany językiem naturalnym</li>
                    <li class="lead"><%= render "shared/tick-icon" %>szybkość i łatwość w tworzeniu oprogramowania</li>
                    <li class="lead"><%= render "shared/tick-icon" %>prosta składnia</li>
                    <li class="lead"><%= render "shared/tick-icon" %>niski próg wejścia</li>
                    <li class="lead"><%= render "shared/tick-icon" %>obecnie wysoka popularność</li>
                </ul>
            </div>
            <div class="col">
                <h3>Wady:</h3>
                <ul class="icon-list">
                    <li class="lead"><%= render "shared/cross-icon" %>wydajność</li>
                    <li class="lead"><%= render "shared/cross-icon" %>słabe mechanizmy do programowania współbieżnego</li>
                </ul>
            </div>
        </div>
    </div>
</section>